*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: crimson;
    font-family: sans-serif;
}

.container{
    max-width: 80%;
    margin-inline: auto;
}

h1{
    color: white;
    text-align: center;
    padding-top: 2rem;
}

.card{
    background-color: white;
    border-radius: 20px;
    border: 2px solid black;
}