*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #B91450;
    font-family: sans-serif;
}

.container{
    max-width: 80%;
    margin-inline: auto;
}

h1{
    color: white;
    text-align: center;
    padding-top: 2rem;
}

.card{
    padding: 2rem;
    text-align: center;
    background-color: white;
    border-radius: 20px;
    border: 2px solid black;
    display: flex;
    justify-content: space-around;
}

h4{
    color: #B91450;

}